    <h1>Howto setup a development environment</h1>
    <p>
    	<ul>
        	<li>Install Eclipse SDK</li>
           	<li>add CDT</li>
        	<li>add CDT device debug (C/C++ GDB Hardware debugging)</li>
            <li>add subclipse</li>
            <li>checkout source (org.eclipse.cdt.embsysregview)</li>
            <li>select "org.eclipse.cdt.embsysregview" in Package Explorer</li>
            <li>click the run button to launch it as Eclipse Application</li>
            <li>or set a breakpoint and click the debug button</li>
            <li>a new Eclipse with the running plugin will open (you have to show it the first time ...Window->Show View->Others...)</li>
            <li>in the Run Configuration you can select a workspace (probably the one that contains your embedded project) that the launched eclipse will use</li>
        </ul>
    </p>

