    <h1>Subversion Access</h1>
    <p>
	    The EmbSysRegView Subversion repository can be checked out through SVN with the following instruction set:
    	<ul>
        	<li>svn co https://embsysregview.svn.sourceforge.net/svnroot/embsysregview embsysregview</li>
        </ul>
    </p>

