
    <ul>
      <li><a href="javascript:void();" title="Shows you what information is relevant for a help report" onclick="dynloadcontent('development','1')">How you can help</a></li>
      <li><a href="javascript:void();" title="Shows you where to report" onclick="dynloadcontent('development','2')">Add Chips</a></li>
      <li><a href="javascript:void();" title="Shows you where to report" onclick="dynloadcontent('development','3')">Dev. Environment</a></li>
      <li><a href="javascript:void();" title="Shows you where to report" onclick="dynloadcontent('development','4')">Source Code</a></li>
    </ul>
