    <h1>In what way you can help</h1>
    <p>
    	<ul>
        	<li>Report Bugs <a href="http://sourceforge.net/tracker/?group_id=265262&atid=1129412">here</a></li>
            <li>Give Feedback <a href="https://sourceforge.net/projects/embsysregview/forums/forum/1947616">here</a></li>
            <li>Correct, extend or write a new chip description (XML)</li>
            <li>Help extending the View (JAVA)</li>
        </ul>
    </p>

