    <h1>What information is relevant for a help report</h1>
    <p>
    	<ul>
        	<li>Eclipse version</li>
            <li>CDT version</li>
            <li>EMbSysRegView version</li>
            <li>Additional used Plugins</li>
        </ul>
    </p>

