
    <ul>
      <li><a href="javascript:void();" title="Shows you what information is relevant for a help report" onclick="dynloadcontent('help','1')">Information</a></li>
      <li><a href="javascript:void();" title="Shows you where to report" onclick="dynloadcontent('help','2')">Where to ask</a></li>
    </ul>
