    <h1>Where to get help</h1>
    <p>
    	<ul>
            <li><a href="http://sourceforge.net/projects/embsysregview/forums/forum/964554">Help Forum</a></li>
            <li><a href="http://sourceforge.net/projects/embsysregview/forums/forum/964553">Open Discussion Forum</a></li>
        </ul>
    </p>
    <p>
    	<ul>
            <li><a href="http://sourceforge.net/tracker/?group_id=265262&atid=1129412">Bug Tracking System</a></li>
            <li><a href="http://sourceforge.net/tracker/?group_id=265262&atid=1129413">Bug Support Tracking System</a></li>
            <li><a href="http://sourceforge.net/tracker/?group_id=265262&atid=1129414">Patch Tracking System</a></li>
            <li><a href="http://sourceforge.net/tracker/?group_id=265262&atid=1129415">Feature Request Tracking System</a></li>
        </ul>
    </p>

