    <h1>History of released</h1>
    <p>
    	<h2>Version 0.2.2 Released</h2>
    	<b>DSF Framework Integration (thanks to edubec): Its now possible to use "GDB (DSF) Hardware Debug Launcher" in Debug Configurations</b>
    	<p>contains over 500 chip descriptions ...</p>
    	<table style="border: none;">
    		
    		<tr>
    			<td style="border: none;">New and updated chip description files from EnergyMicro and TexasInstruments</td>
    		</tr>
    		<tr>
    			<td style="border: none;">New CMSIS SVD files from Silicon-Laboratories-Inc, Holtek, Fujitsu-Semiconductors</td>
    		</tr>
		</table>
    </p>
    <p>
    	<h2>Version 0.2.1 Released</h2>
    	New up-to-date chip description files for STM chips with full interpretation support (thanks to Jacon):
    	<table style="border: none;">
    		<tr>
    			<td style="border: none;">cortex-m0: stm32f050x + stm32f051x</td>
    		</tr>
    		<tr>
    			<td style="border: none;">cortex-m3: stm32f20x + stm32f21x</td>
    		</tr>
    		<tr>
    			<td style="border: none;">cortex-m4: stm32f40x + stm32f41x</td>
    		</tr>
		</table>
    </p>
    <p>
    	<h2>Version 0.2.0 Released</h2>
    	New features:
    	<table style="border: none;">
    		<tr>
    			<td style="border: none;">Improved interpretation and tooltip support in the description column </td>
    		    <td style="border: none;"> <a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','6')"><img width="160" height="100" align="middle" src="img/screenshot6_mini.jpg"/></a></td>
    		</tr>
			<tr> 
				<td style="border: none;">Editing in the Binary column via BitButtons </td>
				<td style="border: none;"> <a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','4')"><img width="160" height="100" align="left" src="img/screenshot4_mini.jpg"/></a></td>
			</tr>
			<tr> 
				<td style="border: none;">Choosing an interpretation from an ComboBox in the Hex column<br/>
needs interpretation enabled chip description files</td>
				<td style="border: none;"> <a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','5')"><img width="160" height="100" align="left" src="img/screenshot5_mini.jpg"/></a></td>
			</tr>
		</table> 
    </p>

