
    <ul>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('home','1')">About</a></li>
      <li><a href="javascript:void();" title="known problems and workarounds" onclick="dynloadcontent('home','2')">Known Problems</a></li>
      <li><a href="javascript:void();" title="History of releases" onclick="dynloadcontent('home','3')">Release History</a></li>
    </ul>
