    <h1>Welcome to the EmbSysRegView Project</h1>
    <p>
    	EMBedded SYStems REGister VIEW is an Eclipse Plugin which is designed for monitoring and modifying memory values of embedded devices. 
    	Therefore it offers a structured display of the special functions registers (SFR). 
    	
    	While debugging, the register values are presented in the Hexadecimal (HEX) and Binary (Bin) column of the view. 
    	<br/>

    	Modifications of peripheral registers values are possible via:   
    	<ul> 
    		<li>Editing in the Binary column via BitButtons</li>
    		<li>Editing in the Hex column</li>
    		<li>Choosing an interpretation from an ComboBox in the Hex column (not supported by all chip xml files)</li>    	  
    	</ul>
    	<br/>
    	
    	The EmbSysRegView works with any 32 bit target that stores data in little endian byte order and maps its register into memory adress space. 
    	In other words, if you find your registers in the CDT Memory View, the RegisterView will also work with that device assumin that a chip xml description is available.
    	
      </p>
        <p>
    	<h2>Version 0.2.6 Released</h2>
    	<p>bug #20 "Cannot install in Eclipse Neon" is fixed by a patch from Morten Kristiansen</br>
    	Because of this patch, EmbSysRegView now <b>works with the latest Eclipse version (Oxygen)</b></p>
    	<table style="border: none;">    		
    		<tr>
    			<td style="border: none;">New files from Silicon Labs (5.2.1 sw release) includes Giant Gecko 11 Family</td>
    		</tr>
    		<tr>
    			<td style="border: none;">The following patches were integrated:
    				<ul> 
    					<li>patch #23 Implemented dimIndex range & default behavior in SVD parser by Timothy Van Ruitenbeek</li>
    					<li>patch #24 Fix for STM32F10X_CL.xml description from Igor</li>
    					<li>with patch #25, Emil Brink added a Collapse-button to close all open tree branches</li>
    					<li>bug #13 Wrong computation of bitfield length from lsb/msb fields in SVD files fixed by Veit Kleeberger</li>
    				</ul>
				</td>
    		</tr>
		</table>
    </p>
    </p>
        <p>
    	<h2>Version 0.2.5 Released</h2>
    	<p>The main change in this release is the licence switch from GPL to EPL</p>
    	<table style="border: none;">    		
    		<tr>
    			<td style="border: none;">New files from Silicon Labs (3.20.13 sw release)</td>
    		</tr>
    		<tr>
    			<td style="border: none;">The following patches were integrated:
    				<ul> 
    					<li>patch #21 Fixed bug in binary values by Giulio Benetti</li>
						<li>bug #7 SVD file using % (dim elements) specifiers doesn't work, patch from Erich Styger<br>
						    this should allow Freescale SVD files to load correctly</li>
						<li>bug #11 STM32F10X_HD.xml => RCC_CFGR / PPRE1 bits view is missing, patch from garuche69</li>
    				</ul>
				</td>
    		</tr>
		</table>
    </p>
    <p>
    	<h2>Version 0.2.4 Released</h2>
    	<p>EmbSysRegView is now built up of two plugins: the view itself and a data plugin. This will hopefully result in quicker data up.</p>
    	<table style="border: none;">
    		
    		<tr>
    			<td style="border: none;">New files from SiLabs (former EnergyMicro) due to their Cortex-M0+ based Zero Gecko family released in Oktober'13</td>
    		</tr>
    		<tr>
    			<td style="border: none;">There is now only one embsysregview.dtd in the data folder.</td>
    		</tr>
    		<tr>
    			<td style="border: none;">The following patches were submitted:
    				<ul> 
    					<li>#9 ATMega16 xml from Brutte</li>
						<li>#11 fixed STM32F10X_CL.xml from Chris Morgan</li>
						<li>#13 Add support for Atmel SAMA5D3x series Cortex-A5 devices from mattwood2000</li>
						<li>#14 UI Improvement: Binary Buttons Cell Editor splitted in Nibbles and add Tooltips from devnow</li>
						<li>#15 Add TreeGroup (groupName) support for SVD's from devnow</li>
						<li>#16 Add support for Atmel Cortex-M4 devices: ATSAM4E series, ATSAM4LC/LS series, and ATSAM4N series devices by mattwood2000</li>
						<li>#17 Add support for Atmel Cortex-M3 devices: ATSAM3N series, ATSAM3S series, ATSAM3SD series, ATSAM3U series, ATSAM3X series, and ATSAM3A series by mattwood2000</li>
						<li>#18 Add support for Atmel Cortex M0+ family: ATSAMD20 series by mattwood2000</li>
						<li>#19 Add support for Atmel ARM926-ejs MPUs: AT91SAM9G15, AT91SAM9G25, AT91SAM9G35, AT91SAM9X25, and AT91SAM9X35 by mattwood2000</li>
						<li>#20 Fix for STM32F050x and STM32F051x reigster address ADC_CFGR1 by Johannes</li>
    				</ul>
				</td>
    		</tr>
		</table>
    </p>
    <p>
    	<h2>Version 0.2.3 Released</h2>
    	<b>Eclipse Juno Tested</b>
    	<p>over 600 chip descriptions</p>
    	<table style="border: none;">
    		
    		<tr>
    			<td style="border: none;">New chip description files from EnergyMicro for their new EFM32 Wonder series</td>
    		</tr>
    		<tr>
    			<td style="border: none;">modified xml for lpc17XX form Cosik (feature-request 4)</td>
    		</tr>
    		<tr>
    			<td style="border: none;">added SVD file for lpc177x8x (feature-request 3)</td>
    		</tr>
    		<tr>
    			<td style="border: none;">moved comment after the DOCTYPE element for msp430g2553.xml (patch 8)</td>
    		</tr>
		</table>
    </p>
   