
    <ul>
      <li><a href="javascript:void();" title="Shows you how to install and use the View" onclick="dynloadcontent('install','1')">Update Site</a></li>
      <li><a href="javascript:void();" title="Shows you how to install and use the View" onclick="dynloadcontent('install','2')">JAR Files</a></li>
      <li><a href="javascript:void();" title="Shows you how to install and use the View" onclick="dynloadcontent('install','3')">Config & Use</a></li>
      
    </ul>
