
    <h1>Configuring the view after installation</h1>
    <p>
    	First of all you have to show the view in the perspective you wish to use it in.
        
        <ul>
            <li>Switch to the wanted perspective ( in most cases this will be "Debug" )</li>
            <li>Choose Window->Show View->Other... from the Menu and Debug->EmbSysRegView from the view selection window.</li>
        </ul>
	</p>
    <p>
        Then you should tell the View what chip you are using, by 
        
        <ul>
	        <li>selecting Window->Preferences from the menu and C/C++->Debug->EmbSysRegview from the preferences window</li>
	        <li>or by clicking on the wrench icon in the upper left corner of the view</li>
        </ul>
	</p>
	<p>
        Now you have to enable the registers you are interested in. You can do this by
        
        <ul>
	        <li>double clicking on a RegisterName, making it green (enabled).</li>
	        <li>double clicking on a RegisterGroup, enabling all the Registers in it.</li>
        </ul>
	</p>
