    <h1>Install the view using the Update-Site:</h1>
    <p>
    	First of all, get yourself a copy of "Eclipse IDE for C/C++ Developers" from <a href="http://www.eclipse.org/downloads/">eclipse.org</a>
    </p>
    <p>
    	<p>
    		For Eclipse versions >= Keppler you can search for "embsysregview" in the eclipse Marketplace (Help->Eclipse Marketplace...)
    	</p>
    	<p>
    		or use the Stable update site URL: http://embsysregview.sourceforge.net/update
    	</p>
    	
    </p>
    <p>
    	Beta update site URL: http://embsysregview.sourceforge.net/update-beta
    </p>

