
    <h1>Install the view by copying the jar files:</h1>
    <p>
    	Get the latest jar files (you need both of them) from <a href="https://sourceforge.net/projects/embsysregview/files/">https://sourceforge.net/projects/embsysregview/files/</a>
    </p>
    <p>
        Simply copying to your eclipse plugins folder, and your done.
    </p>
    <p>
        <h4>Optional:</h4>
        
        If you wish to manipulate the xml files or add your own, extract the file org.eclipse.cdt.embsysregview_x.x.x.jar into a directory called "org.eclipse.cdt.embsysregview_x.x.x" in your plugin folder (using the update site, this is done automaticaly). Now you have access to the data folder containing the xml files.
    </p>

