    <h1>Projects using EmbSysRegView:</h1>
    <p>
    	<ul>
	        <li>The guys at bitcraze us it for <a href="http://www.bitcraze.se/2013/03/debugging-enhancement/">debugging</a> their <a href="http://www.bitcraze.se/about/">Crazyflie</a> Quadcopter</li>	        
        </ul>    	    	
    </p>

    
