    <h1>Howtos:</h1>
    <p>
    	<ul>
	        <li>An <a href="http://downloads.energymicro.com/an/pdf/an0023_efm32_eclipse_toolchain.pdf">application note</a> from energy micro on howto setup a free EFM32 development IDE based on Eclipse for Windows </li>
	        <li>A <a href="http://kernelhacks.blogspot.com.es/2012/11/the-complete-tutorial-for-stellaris_25.html">tutorial</a> for Stellaris LaunchPad development with GNU/Linux</li>
	        <li>An <a href="https://www.nordicsemi.com/eng/content/search?SearchText=Development+with+GCC+and+Eclipse+nAN-29+Application+Note&SearchButton=Search">application note</a> from Nordic Semiconductor on howto setup development with GCC and Eclipse for the nRF51 series devices</li>   
        </ul>
    </p>

