
    <ul>
      <li><a href="javascript:void();" title="projects using embsysregvie" onclick="dynloadcontent('links','1')">Projects</a></li>
      <li><a href="javascript:void();" title="howtos/blogs listing the view" onclick="dynloadcontent('links','2')">Howtos/Blogs</a></li>
    </ul>
