
    <ul>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','1')">Configuration</a></li>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','2')">Editing</a></li>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','3')">Tooltip Help</a></li>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','4')">Bit Edit</a></li>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','5')">ComboBox</a></li>
      <li><a href="javascript:void();" title="what is it" onclick="dynloadcontent('screenshot','6')">Interpretation</a></li>
    </ul>
